@charset "UTF-8";
@import "colors.css";

body {
	background-image: url("/assets/bg-tile.png");
	background-color: var(--background);
	font-family: "IBM Plex Mono", monospace;
	color: var(--foreground);
	margin-left: auto;
	margin-right: auto;

	display: grid;
	grid-template-areas:
	"header header header"
	"nav main side"
	"footer footer footer";
}

@media (prefers-color-scheme: light) {
	body {
		background-image: url("/assets/bg-tile-light.png");
	}
}

header {
	grid-area: header;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	color: var(--green);
	font-style: italic;
	border-bottom: solid 4px var(--magenta);
}

header h1::before {
	content: "[";
	font-style: normal;
}

header h1::after {
	content: "]";
	font-style: normal;
}

nav {
	grid-area: nav;
	width: fit-content;
	font-style: italic;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

main {
	grid-area: main;
	width: 50vw;
}

footer {
	grid-area: footer;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 24px;
	padding-right: 24px;
	border-top: 4px solid var(--magenta);

	display: grid;
	grid-template-areas:
	"words badges"
	"john john";
}

ul#badges {
	grid-area: badges;
	list-style-type: none;
	padding: 0;
}

ul#words {
	grid-area: words;
	list-style-type: none;
	padding: 0;
}

#john {
	grid-area: john;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: 732px;
}

a:link {
	color: var(--blue);
}

a:visited {
	color: var(--blueBright);
}
