@charset "UTF-8";

:root {
	--background: #1c1c1c;
	--foreground: #afafaf;

	--black: #1c1c1c;
	--blackBright: #666565;

	--red: #af004f;
	--redBright: #c95384;

	--green: #1d5e44;
	--greenBright: #669280;

	--yellow: #af871c;
	--yellowBright: #c9af65;

	--blue: #1c5f87;
	--blueBright: #6691ac;

	--magenta: #5f1c5f;
	--magentaBright: #936591;

	--cyan: #09b385;
	--cyanBright: #59cbad;

	--white: #afafaf;
	--whiteBright: #c9c9c8;
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #cccccc;
		--foreground: #1c1c1c;
	}
}
