@charset "UTF-8";
@import "colors.css";

body {
	background-image: url("/assets/bg-tile.png");
	background-color: var(--bg-color);
	color: var(--fg-color);
}

nav {
	float: left;
	position: sticky;
	top: 24px;
	left: 24px;
	width: fit-content;
	font-style: italic;
}

nav ul {
	list-style-type: none;
}

main {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

footer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	width: fit-content;
	padding-left: 4px;
	padding-right: 4px;
	border-top: 4px solid var(--blackBright);
}

#badges {
	float: right;
}

#john {
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 732px;
}

a:link {
	color: var(--blue);
}

a:visited {
	color: var(--blueBright);
}

.center {
	text-align: center;
}

:root {
	--bg-color: var(--background);
	--fg-color: var(--foreground);
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: var(--foreground);
		--fg-color: var(--background);
	}
}
